<div>
  <form (ngSubmit)="onSubmit(form.value)" #form="ngForm">
    <ng-content select="#title"></ng-content>
    <label>
      Email address
      <input type="email" name="email" ngModel />
    </label>
    <label>
      Password
      <input type="password" name="password" ngModel />
    </label>
    <ng-content select="app-remember"></ng-content>
    <!-- <div *ngIf="showMessage">Your account will be saved for 14 days</div> -->
    <app-child-view-component
      [style.display]="isShowMessage ? 'inherit' : 'none'"
    ></app-child-view-component>
    <ng-content select="button"></ng-content>
  </form>
</div>
